<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <center><h1>Pagina Home EJS</h1></center>
    <br>
    <center><img src="./imagens/2.png" width="900" height="500"></center>
</body>
</html>